@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.calcbtn {
  border: 0;
  outline: none;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  width: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
  border-radius: 15px;
  transition: 0.15s;
}

.calcbtn:hover {
  transform: scale(1.04);
}

.calcbtn.operator {
  background-color: #321068;
  color: #b68bfc;
}

.calcbtn.number {
  background-color: #303136;
  color: #9773ff;
}

.calcbtn.util {
  background-color: #616161;
  color: #cecdcd;
}
